<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= docTitle%></title>
    <link rel="stylesheet" href="/css/main.css"></link>
    <style>
            .form-control{
                margin: 1rem 0;
            }

            .form-control label,
            .form-control input{
                display: block;
                width: 100%;

            }

            .form-control input{
                border: 1px solid  rgb(255, 187, 0);
                font: inherit;
                border-radius: 2px;
            }

            button{
                font: inherit;
                border: 1px solid  rgb(255, 187, 0);
                background: white;
                border-radius: 3px;
                color:  rgb(255, 187, 0);
                cursor: pointer;
            }

            .product-form{
                width: 20rem;
                max-width: 90%;
                margin: auto
            }
        </style>
</head>
<body>
    <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">  
                    <li class="main-header__item"><a href="/">Shop</a></li>
                    <li class="main-header__item"><a class="active" href="/admin/add-product">Add product</a></li>
                </ul>
            </nav>
        </header>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title"/>
            </div>
            
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>
</html>